<h3 ng-if="dirCtrl.arrayIsNotEmpty()" class="text-center">{{dirCtrl.title}}</h3>

<table ng-if="dirCtrl.arrayIsNotEmpty()" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Short Nane</th>
            <th>Name</th>
            <th>Description</th>
            <th>Small Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in dirCtrl.narrowObj.workingArray">
            <td>{{item.short_name}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price_small}}</td>
            <td>
                <!-- Step 4 of video 30 part 1-->
                <button ng-click="dirCtrl.onRemove({itemIndex: $index});" 
                        class="btn btn-sm btn-danger">Don't want this one!</button>
            </td>
        </tr>
    </tbody>
    
    <tfoot>
    </tfoot>

</table>

<div class="error" ng-if="dirCtrl.arrayIsEmpty()">
    No return results
</div>