<div class="container">
    
    <!-- Form header -->
    <h2 id="sign-up-title" class="text-center">Sign Up for Our Newsletter</h2>
    <br /> 

    <!-- Bootstrap Form -->
    <form name="newsletterForm" nonvalidate>

        <!-- FIRST NAME -->
        <div class="form-group row ">

            <!-- First name form label and input-->
            <div class="col-sm-1"></div>
            <label for="firstName" class="col-sm-2 col-form-label .offset-sm-2">
                First Name
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="firstname" id="firstName"
                       placeholder="Please enter your first name" 
                       ng-model="signUpCtrl.user.firstname" required
                       minlength="2" ng-maxlength="15">
            </div>
            <!-- {{ signUpCtrl.user.firstname }} -->
        
            <!-- First name validation -->
            <!-- Must match name attribute of the input tag -->
            <span class="text-secondary"
                  ng-if="(newsletterForm.firstname.$error.minlength ||
                          newsletterForm.firstname.$error.required) &&
                          newsletterForm.firstname.$touched">
                First name must be at least two characters long.
            </span>
            <span class="text-secondary"
                ng-if="newsletterForm.firstname.$error.maxlength &&
                        newsletterForm.firstname.$touched">
                First name must be longer then 15 characters.
            </span>

        </div>
        

        <!-- LAST NAME -->
        <div class="form-group row">

            <!-- Last name label and input-->
            <div class="col-sm-1"></div>
            <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="lastname" id="lastname"
                       placeholder="Please enter your last name" 
                       ng-model="signUpCtrl.user.lastname" required
                       minlength="2" ng-maxlength="20">
            </div>
            <!-- {{ signUpCtrl.user.lastname }} -->
        
            <!-- Last name validation -->
            <span class="text-secondary"
                ng-if="(newsletterForm.lastname.$error.minlength ||
                        newsletterForm.lastname.$error.required) &&
                        newsletterForm.lastname.$touched">
                Last name must be at least two characters long.
            </span>
            <span class="text-secondary"
                ng-if="newsletterForm.lastname.$error.maxlength &&
                        newsletterForm.lastname.$touched">
                Last name must be longer then 20 characters.
            </span>

        </div>
        

        <!-- EMAIL -->
        <div class="form-group row">

            <!-- email label and from -->
            <div class="col-sm-1"></div>
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" name="email" id="email"
                       placeholder="Please enter your email address" 
                       ng-model="signUpCtrl.user.email" required>
            </div>
            <!-- {{ signUpCtrl.user.email }} -->

            <!-- email validation -->
            <span ng-if="newsletterForm.email.$invalid && newsletterForm.email.$touched">
                Must enter a valid email address: handle@domain format.
            </span>

        </div>
        

        <!-- PHONE NUMBER-->
        <div class="form-group row">

            <div class="col-sm-1"></div>
            <label for="phone" class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-sm-6">
                <input type="phone" class="form-control" name="phone" id="phone"
                       placeholder="Please enter your phone number" 
                       ng-model="signUpCtrl.user.phone" 
                       pattern="(\d{3})-(\d{3})-(\d{4})">
            </div>
            <!-- {{ signUpCtrl.user.phone }} -->

            <!-- phone number validation -->
            <span ng-if="newsletterForm.phone.$invalid && newsletterForm.phone.$touched">
                Phone must be in the format ###-###-####.
            </span>

        </div>
        <!-- {{ signUpCtrl.user.phone }} -->


        <!-- FAVORITE DISH -->
        <div class="form-group row">

            <div class="col-sm-1"></div>
            <label for="short-name" class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-sm-4">
                <input type="short-name" class="form-control" name="shortName" id="short-name"
                       placeholder="Please enter your favorite dish by its short name" 
                       ng-model="shortName.user.phone" required
                       minlength="2" ng-maxlength="4">
            </div>
            {{ signUpCtrl.user.shortName }}

            <!-- short name number validation -->
            <span class="text-secondary"
                ng-if="(newsletterForm.shortName.$error.minlength ||
                        newsletterForm.shortName.$error.maxlength) &&
                        newsletterForm.shortName.$touched">
                Selection must be a valid short name
            </span>

        </div>


        <!-- SUBMIT BUTTON -->
        <!-- button is disabled if the whole form is invalid -->
        <div class="row">
            <div class="col-sm-8"></div>
        
            <button ng-disabled="newsletterForm.$invalid" ng-click="signUpCtrl.submit()"
                    class="btn btn-success col-sm-1">
                Submit
            </button>
        </div>

    </form>

  </div>