<div class="container" ng-controller='MenuAppController as $ctrl'>
<!-- <div class="container"></div> -->
    <div class="jumbotron text-center">
        <h1 class="display-4 text-center">Welcome to our Restaurant</h1>
        <p class="lead text-center">Please click on the button below to view 
            our menu categories
        </p>
        <hr class="my-4">

        <div>

            <!-- button to call service to get a list of catagories
                and move to the categories page -->
            <a class="btn btn-success btn-block mb-3 text-light"
               ui-sref="categories">
                Show Menu Categories
            </a>

            <!-- button that will transition to a new state and run a function -->
            <!-- <button class="btn btn-success mb-3 text-light"
                    ui-sref="categories" ng-click=$ctrl.getCategories()>
                Button show categories
            </button> -->

        </div>

    </div>  <!-- End of jumbotron -->

    
</div>  <!-- End of container and -->