<h4 class="text-warning">This is the html from the directive</h4>

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4 text-center">Welcome to our Restaurant</h1>
        <p class="lead text-center">Please click on the button below to view 
            our menu categories
        </p>
        <hr class="my-4">

        <div>
            <!-- button to call service to get a list of catagories
                and move to the categories page -->
            <a class="btn btn-primary btn-block mb-3 text-light"
               ui-sref="categories">
                Show Menu Categories
            </a>
        </div>

    </div>
</div>