<!doctype html>
<html lang="en" ng-app='ShoppingListApp'>

  <head>

    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
 
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>

  </head>


  <body>
    <div class="container">
    <h1 class="text-center">Shopping List Check Off</h1>

    <div class="row">

      <!-- To Buy List -->
      <div class="col-md-6 bottom-margin" ng-controller="ToBuyController as toBuy">
        <h2>To Buy:</h2>
        <ul>
          <li ng-repeat="item in toBuy.items">Buy {{item.quantity}} {{item.name}}
            <button ng-click="toBuy.boughtItem($index);" 
                    class="btn btn-success">
                    <span class="{{item.status}}"></span> toBuy
                    <span class="glyphicon glyphicon-ok"></span>
            </button></li>
          </li>

        </ul>
        <div ng-if="!toBuy.items.length"
             class="emptyMessage">Everything is bought!</div>
      </div>  <!-- First column -->

      <!-- Already Bought List - Controller 2 -->
      <div class="col-md-6" ng-controller="AlreadyBoughtController as alreadyBought">
        <h2 class="">Already Bought:</h2>
        <ul>
          <!-- <li>Bought 10 cookies</li> -->
          <li ng-repeat="item in alreadyBought.items">
            Bought {{item.quantity}} {{item.name}} <span class="glyphicon glyphicon-ok"></span>
          </li>
        </ul>

        <div ng-if="!alreadyBought.items.length" 
             class="emptyMessage">Nothing bought yet.</div>
        </div>

      </div>  <!-- Row -->

    </div>  <!-- Container  -->

  </body>
</html>
