* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
body {

} */


#header-nav {
    border-radius: 0;   /* Take of corners */
    border: 0;
    /* background-color: #6d7174; */
}

#menu_item:hover {
    background-color: silver;
}

section div div div { 
    background-color: burlywood;
}

