/* * {

}

body {

} */


#header-nav {
    border-radius: 0;   /* Take of corners */
    border: 0;
    /* background-color: #6d7174; */
}

#menu_item:hover {
    background-color: silver;
}

section div { 
    background-color: burlywood;
}

